body {
    /* background: rgb(34,121,195); */
    background: linear-gradient(0deg, rgba(34,121,195,1) 0%, rgba(191,45,253,1) 100%);
    
}

.white-container {
    background-color: white;
    height: 60%;
    width: auto;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }