html {
    height: 100%;
}

body {
    /* background: rgb(34,121,195); */
    background: linear-gradient(0deg, rgba(34,121,195,1) 0%, rgba(191,45,253,1) 100%);
    
}

.white-container {
    background-color: white;
    height: 600px;
    width: 1200px;
    border-radius: 15px;
    position:relative;
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 10px 20px 0 rgba(0, 0, 0, 0.19);
}

.imageleft {
    position: absolute;
    /* background-image: url("./images/bg-pattern-desktop.svg");
    background-repeat: no-repeat;
    background-size: 100%; */
    top: 65px;
    left: -80px;
    z-index: 10000;
    height: 500px;
}

.bgimg {
    max-width: 110%;
    height: auto;
    position: relative;
    right: 240px;
    bottom: 50px;
    z-index: 0;
}

.zfront {
    z-index: 10001;
    position: relative;
    top: 390px;
    right: 100px;
    width: 150px;
}

.center {
    height: 100%;
    width: 100;
}

.btm {
    border-top: none;
    border-right:none;
    border-left: none;
}


.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }